<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container daily-update">

    <h3>{{team}} - {{today | date:'MM/dd/yyyy'}}</h3>
    <hr/>

    <div class="row userStories" ng-show="issues.userStories">
        <table class="table table-condensed">
            <thead>
            <tr>
                <th class="col-sm-1">Key</th>
                <th class="col-sm-3">Summary</th>
                <th class="col-sm-1">Status</th>
                <th class="col-sm-1">Assignee</th>
                <th class="col-sm-1">Remaining</th>
                <th class="col-sm-1">To Do</th>
                <th class="col-sm-2">Task Type</th>
                <th class="col-sm-2"></th>
            </tr>
            </thead>
            <tbody ng-repeat="story in issues.userStories">
            <tr>
                <td><a ng-click="toggleStory(story)"><i class="fa fa-plus-circle" ng-show="story.isHide"></i><i class="fa fa-minus-circle" ng-hide="story.isHide"></i></a></td>
                <td colspan="7"><h5>{{story.userStoryID}} - {{story.summary}}</h5></td>
            </tr>
            <tr class="tasks" ng-repeat="task in story.tasks" ng-hide="story.isHide">
                <td>{{task.taskID}}</td>
                <td>{{task.summary}}</td>
                <td><span class="taskState" ng-class="{'To Do': 'label-default', 'In Progress': 'label-primary', 'Done': 'label-success'}[task.taskState]">{{task.taskState}}</span></td>
                <td>{{task.assignee}}</td>
                <td>{{task.remaining}}</td>
                <td><input type="text" class="form-inline form-control" placeholder="To Do" ng-model="task.todo" style="width: 100px" ng-hide="isDoneTask(task)"></td>
                <td><select class="form-inline form-control" ng-model="task.type" ng-options="type for type in taskTypes" style="width: 150px">
                </select></td>
                <td>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="done" ng-model="task.isDone"> Done
                    </label>
                    <label class="checkbox-inline" ng-hide="isDoneTask(task)">
                        <input type="checkbox" id="todo" ng-model="task.isTodo"> Todo
                    </label>
                </td>
            </tr>
            </tbody>
        </table>

    <hr/>

        <h4>Done</h4>
        <ul>
            <li ng-repeat="story in issues.userStories" ng-show="hasDoneTask(story)">{{story.userStoryID}}: {{story.summary}} - [{{getDoneTasks(story)}}]</li>

        </ul>
        <h4>To Do</h4>
        <ul>
            <li ng-repeat="story in issues.userStories" ng-show="hasTodoTask(story)">{{story.userStoryID}}: {{story.summary}} - [{{getTodoTasks(story)}}]</li>
        </ul>
        <h4>Blocker</h4>
        <ul>
            <li>N/A</li>
        </ul>
        <h4>Major Issues Resolved/Lessons/Positive</h4>
        <ul>
            <li>N/A</li>
        </ul>

        <table class="table table-condensed table-bordered">
            <thead>
            <tr>
                <th>Key</th>
                <th>Summary</th>
                <th>Assignee</th>
                <th>Remaining</th>
                <th>To Do</th>
                <th>Progress</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="task in getAllTodoTasks()">
                <td>{{task.taskID}}</td>
                <td>{{task.summary}}</td>
                <td>{{task.assignee}}</td>
                <td>{{task.remaining}}</td>
                <td>{{task.todo}}</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
